#lasagna{
    background-color: rgba(219, 128, 52, 0.918);
}
#paneer{
    background-color: rgb(211, 136, 50);
}
#chapati{
    background-color: rgba(170, 105, 62, 0.959);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    h2{
        font-size: xx-large;
    }
    text-align: center;
    font-size: large;
    font-weight:700;
    background-color: rgba(255, 255, 255, 0.116);
    margin-left: 10%;
    margin-right: 10%;
}
.one{
    text-align: center;
    font-size: 42px;
    font-family: serif,fantasy,Arial, Helvetica, sans-serif;
    line-height: 10px;
}

ul{
    line-height: 25px;
    li{
        list-style: circle;
    }
}
ol{
    line-height: 25px;
}
h2{
    font-weight:bolder;
}
